*{
margin: 0;
padding: 0;
box-sizing: border-box;}
body{
    min-height: 100vh;
    background-image: url(/src/img/netflix.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.item{
    background-color: aliceblue;
    width: 55px;
    height: 52px;
    margin-top: 125px;
    cursor: pointer;
    -webkit-mask-image: url(/src/img/estrella.svg);
    mask-image: url(/src/img/estrella.svg);
}
.item.selec{
    background-color: rgb(237, 2, 2);
}
.puntaje{
display: flex;
flex-direction: row;}
.contenedor{
display: flex;
justify-content: center;}